{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="es">
<head>
    <title>{% block title %}El Universo Maytok{% endblock %}</title>
    {% include 'blog/_includes/head.html' %}
</head>

<body class="loading ajax-loading" data-site-url="https://www.maytok.com" data-page-url="{{ request.path }}">
<header class="header--main">
    {% include 'blog/_includes/header.html' %}
</header>

{% include 'blog/_includes/loader.html' %}

<div class="page-loader"></div>

<div class="page">
    {% block content %}
        <div class="page__content" data-page-title="El Universo Maytok">

            {% include 'blog/_includes/contact.html' %}

            <div class="page-home">
                <img src="{% static 'blog/svg/background-hero.svg' %}" class="hero__background" draggable="false"/>
                <section class="hero">
                    <div class="wrap grid">
                        <div class="title">
                            <p class="subtitle">Bienvenido a </p>
                            <h1>la Telaraña</h1>
                        </div>
                        <p class="intro subtitle--light">
                            Descubre los hilos que manejan el mundo de este Universo. Tira de ellos y manipula la
                            historia.
                            <a href="#" class="hero__cta button--fill contact-trigger js-contact cc-active">¿Dudas?
                                Envía un cuervo</a>
                        </p>
                    </div>
                </section>

                <section class="listing">
                    <div class="wrap">
                        <article class="project__preview">
                            <h3 class="project__title">
                                <a href="/project/mobile-app" style="--accent: #4C60E6">Los libros</a>
                            </h3>
                            <div class="project__images owl-carousel" style="--accent: #4C60E6">
                                {% for book in books %}
                                    <a href="{% url 'book_show' pk=book.id slug=None %}">
                                        <img src="{{ book.cover }}" alt="" class="project__image"/>
                                    </a>
                                {% endfor %}
                            </div>

                            <div class="project__content grid" style="border-color: #4C60E6">
                                <p class="project__subtitle subtitle--light">High-fidelity mobile app designs for a
                                    super
                                    awesome social media company.</p>
                                <p class="project__description --small">
                                    This is a demo post that shows what you can do inside portfolio and blog posts.
                                    We’ve
                                    included everything you need to create engaging posts and case studies to show off
                                    your
                                    work in a beautiful way.
                                    <a href="/project/mobile-app" class="project__link button--text --right"
                                       style="color: #4C60E6; --color-var: #4C60E6">View Case Study</a>
                                </p>
                            </div>
                        </article>
                    </div>
                </section>

                {% comment %}

                <section class="about">

                    <div class="wrap grid">

                        <div class="about__image">
                            <img src="https://d1qmdf3vop2l07.cloudfront.net/dear-deodorant.cloudvent.net/compressed/_min_/14f5fd9294272910cc2d607439f07189.jpg"
                                 alt="" data-cms-original-src="/images/profile.jpg"/>

                            <ul class="socials">


                                <li class="socials__item">
                                    <a href="https://www.facebook.com/jekyllthemes/" target="_blank"
                                       class="socials__item__link" title="Facebook">
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    </a>
                                </li>


                                <li class="socials__item">
                                    <a href="https://twitter.com/jekyllthemesio" target="_blank"
                                       class="socials__item__link"
                                       title="Twitter">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>


                                <li class="socials__item">
                                    <a href="http://instagram.com" target="_blank" class="socials__item__link"
                                       title="Instagram">
                                        <i class="fab fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>


                                <li class="socials__item">
                                    <a href="https://medium.com/" target="_blank" class="socials__item__link"
                                       title="Medium">
                                        <i class="fab fa-medium" aria-hidden="true"></i>
                                    </a>
                                </li>


                                <li class="socials__item">
                                    <a href="https://github.com/" target="_blank" class="socials__item__link"
                                       title="Github">
                                        <i class="fab fa-github" aria-hidden="true"></i>
                                    </a>
                                </li>


                            </ul>
                        </div>

                        <div class="about__content">
                            <h2 class="title">Hey, I’m Jonathan, nice to meet you!</h2>
                            <p class="subtitle subtitle--light">I’m a designer and a developer with over 12 years of
                                experience under my belt.
                            </p>

                            <p>My skills include product design, interactive design, aesthetic art direction,
                                prototyping,
                                mobile design,
                                branding, front-end development and team leadership. I’m interested in clean aesthetics,
                                minimalism, unusual
                                typography, photography and simplistic UX solutions.</p>
                            <p>I’d love to learn about your company and see how I can help, feel free to send me an
                                email!</p>

                            <a href="#" class="cta button--fill contact-trigger js-contact cc-active">Get in Touch</a>
                        </div>
                    </div>
                </section>

                {% endcomment %}

                <section class="recent-posts">
                    <div class="wrap grid">
                        <header class="recent-posts__header">
                            <h4>Lo más reciente</h4>
                            <a href="/blog" class="action button--text--accent --right">Todos los posts</a>
                        </header>

                        <div class="recent-posts__list grid">

                            <article class="post__card">
                                <a href="/blog/shipping-container-art" class="post__link">
                                    <div class="post__image"
                                         style="background-image: url(https://d1qmdf3vop2l07.cloudfront.net/dear-deodorant.cloudvent.net/compressed/_min_/bf1cffdf8159992a7ec5b36f1c96ebf8.jpg)"
                                         data-cms-original-style="background-image: url(/images/demo/blog-02.jpg)">
                                    </div>
                                    <time class="post__date label--small">June 30, 2019</time>
                                    <h5 class="post__title subtitle">Shipping container art</h5>
                                </a>
                            </article>

                            <article class="post__card">
                                <a href="/blog/new-amsterdam" class="post__link">
                                    <div class="post__image"
                                         style="background-image: url(https://d1qmdf3vop2l07.cloudfront.net/dear-deodorant.cloudvent.net/compressed/_min_/7d1570e7b854a9747d5d06853f61831c.jpg)"
                                         data-cms-original-style="background-image: url(/images/demo/blog-01.jpg)">
                                    </div>
                                    <time class="post__date label--small">June 29, 2019</time>
                                    <h5 class="post__title subtitle">New Amsterdam</h5>
                                </a>
                            </article>

                            <article class="post__card">
                                <a href="/blog/graffiti" class="post__link">
                                    <div class="post__image"
                                         style="background-image: url(https://d1qmdf3vop2l07.cloudfront.net/dear-deodorant.cloudvent.net/compressed/_min_/0158675b84a261e4638c9783f9df5786.jpg)"
                                         data-cms-original-style="background-image: url(/images/demo/blog-03.jpg)">
                                    </div>
                                    <time class="post__date label--small">June 28, 2019</time>
                                    <h5 class="post__title subtitle">Graffiti</h5>
                                </a>
                            </article>

                        </div>

                        <a href="/blog" class="action-bottom button--text--accent --right">All Posts</a>
                    </div>
                </section>
            </div>

        </div>
    {% endblock %}

</div>


<footer class="footer">
    <div class="wrap grid">


        <a href="/" class="footer__title cc-active">
            Sakya | Pentaghast
        </a>


        <div class="footer__copyright">
            <p>Descubre la verdad</p>
            <span class="footnote">© 2020 El Universo Maytok</span>
        </div>

    </div>

    <!-- javascript assets -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'blog/js/history.js' %}"></script>
    <script src="{% static 'blog/js/imagesloaded.js' %}"></script>
    <script src="{% static 'blog/js/masonry.js' %}"></script>
    <script src="{% static 'blog/js/debounce.js' %}"></script>
    <script src="{% static 'blog/js/fluidbox.js' %}"></script>
    <script src="{% static 'blog/js/owl.js' %}"></script>
    <script src="{% static 'blog/js/waypoints.js' %}"></script>
    <script src="{% static 'blog/js/made.js' %}"></script>

    <!-- extra footer js code -->

    <div class="buy-cta">
        <a href="https://jekyllthemes.io/theme/made-portfolio-jekyll-theme" class="buy-cta__link">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512">
                <path d="m551.991 64h144.28l-8.726-44.608c133.35 8.128 123.478 0 112 0h12c5.373 0 0 5.373 0 12v24c0 6.627 5.373 12 12 12h80.24l69.594 355.701c150.796 415.201 144 430.802 144 448c0 35.346 28.654 64 64 64s64-28.654 64-64a63.681 63.681 0 0 0-8.583-32h145.167a63.681 63.681 0 0 0-8.583 32c0 35.346 28.654 64 64 64 35.346 0 64-28.654 64-64 0-18.136-7.556-34.496-19.676-46.142l1.035-4.757c3.254-14.96-8.142-29.101-23.452-29.101h203.76l-9.39-48h312.405c11.29 0 21.054-7.869 23.452-18.902l45.216-208c578.695 78.139 567.299 64 551.991 64zm208 472c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm256 0c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm23.438-200h184.98l-31.31-160h368.548l-34.78 160z"/>
            </svg>
            <span class="buy-cta__text">buy made for $49</span>
        </a>
    </div>
</footer>
</body>

</html>
