dj-config-url
asgiref==3.2.7
Django==3.0.5
sqlparse==0.3.1
culqi
djangorestframework==3.11.0
markdown==3.2.1
django-filter==2.2.0
django-heroku==0.3.1
gunicorn==20.0.4
python-decouple==3.3
jsonschema
requests
django-mptt==0.11.0
django-comments-xtd==2.5.0
drf-yasg==1.17.1
django-cors-headers==3.2.1
readtime==1.1.1
django-markdownx==3.0.1
django-summernote==0.8.11.6
social-auth-app-django==3.1.0
