{% extends 'blog/_layouts/base.html' %}

{% block title %}
    {{ post.name }} | El Universo Maytok
{% endblock %}
{% block content %}
    <div class="page__content" data-page-title="{{ post.name }} | El Universo Maytok">
        {% include 'blog/_includes/contact.html' %}

        <div class="page-post">
            <header class="post__header header--single">
                <div class="wrap">
                    <h1 class="post__title">{{ post.name }}</h1>
                    <time class="post__date label"
                          data-utc="{{ post.created_at | date:"Y-m-d H:i" }}">
                        {{ post.created_at | date:"M d, Y" }}
                    </time>
                </div>
            </header>

            <section class="post-full">
                <div class="wrap">
                    <article class="post__content ">
                        {{ post.body|safe }}
                    </article>
                    <div class="post__more grid">
                        {% if prev_post != None %}
                            <a class="prev-post subtitle"
                               href="{% url 'blog_post' pk=prev_post.pk slug=prev_post.slug %}">
                                {{ prev_post.name }}
                            </a>
                        {% endif %}
                        {% if next_post != None %}
                            <a class="next-post subtitle"
                               href="{% url 'blog_post' pk=next_post.pk slug=next_post.slug %}">
                                {{ next_post.name }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
