<form class="form" novalidate="novalidate" id="kt_login_signin_form" method="post" action="{% url 'login' %}">
    <!--begin::Title-->
    {% csrf_token %}
    <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Inicia sesión</h3>
        <span class="text-muted font-weight-bold font-size-h4">¿Primera vez aquí?
									<a href="javascript:;" id="kt_login_signup" class="text-primary font-weight-bolder">Crea una cuenta</a></span>
    </div>
    <!--begin::Title-->
    <!--begin::Form group-->
    <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark">Usuario</label>
        <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" type="text"
               name="username" autocomplete="off"/>
    </div>
    <!--end::Form group-->
    <!--begin::Form group-->
    <div class="form-group">
        <div class="d-flex justify-content-between mt-n5">
            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Contraseña</label>
            <a href="javascript:;"
               class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5"
               id="kt_login_forgot">¿Olvidaste la contraseña?</a>
        </div>
        <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" type="password"
               name="password" autocomplete="off"/>
    </div>
    <!--end::Form group-->
    <!--begin::Action-->
    <div class="pb-lg-0 pb-5">
        <button type="button" id="kt_login_signin_submit"
                class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Entrar
        </button>
    </div>
    <!--end::Action-->
</form>
