{% load core_filters %}

<style>
    [class*=icon-]:before {
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-Caret-down:before {
        content: "\0048";
    }

    ::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 3px;
    }

    .icon-Caret-down:before {
        -webkit-transform: scale(.7);
        transform: scale(.7);
        vertical-align: middle;
    }

    /*! CSS Used from: Embedded */
    *, ::before, ::after {
        box-sizing: border-box;
        border-spacing: 0px;
    }

    .eFEgkr {
        -webkit-box-align: center;
        align-items: center;
        background-color: transparent;
        border-radius: 5px;
        border: none;
        color: rgb(23, 25, 36);
        cursor: pointer;
        display: inline-flex;
        font-weight: 500;
        height: 100%;
        line-height: 12px;
        margin: 0px;
        padding: 5px;
        vertical-align: baseline;
        white-space: nowrap;
    }

    .eFEgkr:focus, .eFEgkr:hover {
        background-color: rgb(248, 250, 253);
        outline: 0px;
    }

    .fAPnqP {
        background-image: url(https://s2.coinmarketcap.com/static/cloud/img/fiat-flags/USD.svg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        height: 15px;
        width: 15px;
        border: 1px solid rgb(228, 231, 235);
        border-radius: 50%;
    }

    .cIzAJN {
        margin: 2px 0px 0px 4px;
    }

    .dUQeWc {
        font-weight: 600;
        margin-left: 6px;
    }
</style>
<div class="wrap grid__2-col">
    <a href="/" class="header__title cc-active">
        El MaytokVerso
    </a>
    <div class="menu__toggle js-menu-toggle">
        <div class="menu__toggle__icon"><span></span></div>
    </div>
    <nav class="header__menu">
        <div class="menu__wrap">
            <ul class="menu__list">
                <li class="menu__list__item">
                    <a href="/" class="menu__list__item__link button--text cc-active">Inicio</a>
                </li>

                <li class="menu__list__item">
                    <a href="/blog/" class="menu__list__item__link button--text">Blog</a>
                </li>
                <li class="menu__list__item">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="menu__list__item__link button--text js-no-ajax">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="menu__list__item__link button--text js-no-ajax">Login</a>
                    {% endif %}
                </li>

                <li class="menu__list__item">
                    <div class="rz95fb-1 cfBxiI">
                        <div>
                            <button title="Tus fondos" data-qa-id="button-global-currency-picker"
                                    class="sc-1kx6hcr-0 eFEgkr"><span class="sc-1q0bpva-0 fAPnqP"></span><span
                                    class="sc-1bafwtq-1 dUQeWc">{{ request.user.balance|stringformat:"i"|format_maytok_currency }}</span></button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
