<div class="wrap grid__2-col">
    <a href="/" class="header__title cc-active">
        El MaytokVerso
    </a>
    <div class="menu__toggle js-menu-toggle">
        <div class="menu__toggle__icon"><span></span></div>
    </div>
    <nav class="header__menu">
        <div class="menu__wrap">
            <ul class="menu__list">
                <li class="menu__list__item">
                    <a href="/" class="menu__list__item__link button--text cc-active">Inicio</a>
                </li>

                <li class="menu__list__item">
                    <a href="/blog/" class="menu__list__item__link button--text">Blog</a>
                </li>
                <li class="menu__list__item">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="button--text">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="button--text">Login</a>
                    {% endif %}
                </li>

                <li class="menu__cta">
                    <a href="#" class="menu__cta__link button--text contact-trigger js-contact cc-active">
                        Envía un cuervo
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <a href="#" class="header__cta button--fill contact-trigger js-contact cc-active">Envía un cuervo</a>
</div>
