:root {
    --theme-body-dynamic-color-1: #fff;
    --theme-body-dynamic-color-1--rgb: 255, 255, 255;
    --theme-body-dynamic-color-2: #e6e6e6;
    --theme-body-dynamic-color-2--rgb: 230, 230, 230;
    --theme-page-dynamic-color-1: #fff;
    --theme-page-dynamic-color-1--rgb: 255, 255, 255;
    --theme-page-dynamic-color-1--inverted: #000;
    --theme-page-dynamic-color-1--inverted--rgb: 0, 0, 0;
    --theme-page-dynamic-color-2: #e6e6e6;
    --theme-page-dynamic-color-2--rgb: 230, 230, 230;
    --theme-sticky-nav-dynamic-color-1: #fff;
    --theme-sticky-nav-dynamic-color-1--rgb: 255, 255, 255;
    --theme-sticky-nav-dynamic-color-2: #e6e6e6;
    --theme-sticky-nav-dynamic-color-2--rgb: 230, 230, 230;
    --theme-link-dynamic-color-1: #000;
    --theme-link-dynamic-color-1--rgb: 0, 0, 0;
    --theme-link-dynamic-color-2: #3a3a3a;
    --theme-link-dynamic-color-2--rgb: 58, 58, 58;
    --theme-accent-dynamic-color-1: #000;
    --theme-accent-dynamic-color-1--rgb: 0, 0, 0;
    --theme-accent-dynamic-color-2: #3a3a3a;
    --theme-accent-dynamic-color-2--rgb: 58, 58, 58;
    --theme-body-background-color: #131313;
    --theme-body-background-color--rgb: 19, 19, 19;
    --theme-body-background-image: url(https://static.wikia.nocookie.net/halo/images/b/b5/Site-background-light/revision/latest?cb=20220310094249);
    --theme-body-text-color: #fff;
    --theme-body-text-color--rgb: 255, 255, 255;
    --theme-body-text-color--hover: #cccccc;
    --theme-sticky-nav-background-color: #131313;
    --theme-sticky-nav-background-color--rgb: 19, 19, 19;
    --theme-sticky-nav-text-color: #fff;
    --theme-sticky-nav-text-color--hover: #cccccc;
    --theme-page-background-color: #055558;
    --theme-page-background-color--rgb: 5, 85, 88;
    --theme-page-background-color--secondary: #2b6f71;
    --theme-page-background-color--secondary--rgb: 43, 111, 113;
    --theme-page-text-color: #e6e6e6;
    --theme-page-text-color--rgb: 230, 230, 230;
    --theme-page-text-color--hover: #b3b3b3;
    --theme-page-text-mix-color: #769e9f;
    --theme-page-text-mix-color-95: #105c5f;
    --theme-page-accent-mix-color: #3d8183;
    --theme-page-headings-font: 'Roboto Slab';
    --theme-link-color: #b0fefe;
    --theme-link-color--rgb: 176, 254, 254;
    --theme-link-color--hover: #ffffff;
    --theme-link-label-color: #000;
    --theme-accent-color: #74adad;
    --theme-accent-color--rgb: 116, 173, 173;
    --theme-accent-color--hover: #457575;
    --theme-accent-label-color: #000;
    --theme-border-color: #3d797c;
    --theme-border-color--rgb: 61, 121, 124;
    --theme-alert-color: #fe6d7e;
    --theme-alert-color--rgb: 254, 109, 126;
    --theme-alert-color--hover: #fed2d7;
    --theme-alert-color--secondary: #fea9b3;
    --theme-alert-label: #000;
    --theme-warning-color: #e38630;
    --theme-warning-color--rgb: 227, 134, 48;
    --theme-warning-color--secondary: #edb27c;
    --theme-warning-label: #000;
    --theme-success-color: #12b449;
    --theme-success-color--rgb: 18, 180, 73;
    --theme-success-color--secondary: #16dd59;
    --theme-success-label: #000;
    --theme-message-color: #ca86bd;
    --theme-message-label: #000;
    --theme-community-header-color: #b0fefe;
    --theme-community-header-color--hover: #4bfcfc;
    --theme-background-image-opacity: 100%;
    --theme-page-text-opacity-factor: 0.7;
    --theme-body-text-opacity-factor: 0.7;
}

.skin-fandomdesktop .CodeMirror {
    --codemirror-yellow: #ffd700;
    --codemirror-light-blue: #adf;
    --codemirror-blue: #38a2fe;
    --codemirror-green: #28b700;
    --codemirror-red: #ff7028;
    --codemirror-dark-red: #f17777;
    --codemirror-purple: #d175fe;
    --codemirror-pink: #ff4aff;
    --codemirror-light-gray: #eee;
    --codemirror-gray: #86a2a2;
}

.mw-highlight {
    --pygments-background: #2b6f71;
    --pygments-err: #feb7b7;
    --pygments-c: #a5d2d2;
    --pygments-k: #00eb00;
    --pygments-o: #c9c9c9;
    --pygments-ch: #a5d2d2;
    --pygments-cm: #a5d2d2;
    --pygments-cp: #ffbe46;
    --pygments-cpf: #a5d2d2;
    --pygments-c1: #a5d2d2;
    --pygments-cs: #a5d2d2;
    --pygments-gd: #110000;
    --pygments-gr: #feb7b7;
    --pygments-gh: #000029;
    --pygments-gi: #00ec00;
    --pygments-go: #cacaca;
    --pygments-gp: #000029;
    --pygments-gu: #0f000f;
    --pygments-gt: #000511;
    --pygments-kc: #00eb00;
    --pygments-kd: #00eb00;
    --pygments-kn: #00eb00;
    --pygments-kp: #00eb00;
    --pygments-kr: #00eb00;
    --pygments-kt: #110006;
    --pygments-m: #c9c9c9;
    --pygments-s: #0c0202;
    --pygments-na: #bed365;
    --pygments-nb: #00eb00;
    --pygments-nc: #000028;
    --pygments-no: #120000;
    --pygments-nd: #e4bbff;
    --pygments-ni: #c9c9c9;
    --pygments-ne: #efbdba;
    --pygments-nf: #000028;
    --pygments-nl: #d2d200;
    --pygments-nn: #000028;
    --pygments-nt: #00eb00;
    --pygments-nv: #040314;
    --pygments-ow: #e4bbff;
    --pygments-w: #cacaca;
    --pygments-mb: #c9c9c9;
    --pygments-mf: #c9c9c9;
    --pygments-mh: #c9c9c9;
    --pygments-mi: #c9c9c9;
    --pygments-mo: #c9c9c9;
    --pygments-sa: #0c0202;
    --pygments-sb: #0c0202;
    --pygments-sc: #0c0202;
    --pygments-dl: #0c0202;
    --pygments-sd: #0c0202;
    --pygments-s2: #0c0202;
    --pygments-se: #eec3a1;
    --pygments-sh: #0c0202;
    --pygments-si: #e3c1cf;
    --pygments-sx: #00eb00;
    --pygments-sr: #e3c1cf;
    --pygments-s1: #0c0202;
    --pygments-ss: #040314;
    --pygments-bp: #00eb00;
    --pygments-fm: #000028;
    --pygments-vc: #040314;
    --pygments-vg: #040314;
    --pygments-vi: #040314;
    --pygments-vm: #040314;
    --pygments-il: #c9c9c9;
}